.Tree {
  width: 300px;
  max-width: 900px;
}

.Tree,
.Tree-subtree {
  padding: 0;
  display: block;
}

.Tree-subtree {
  margin-left: 24px;
  margin-bottom: 0;
}

.Tree-item:focus {
  outline: none;
}

.Tree-item {
  padding: 8px;
  text-align: left;
}
.Tree-item:focus > .Tree-label.active {
  outline: var(--color-white) solid 1px;
  outline-offset: 4px;
}

.Tree-label.selected {
  background-color: var(--color-selected);
}
