body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-white: #fff;
  --color-black: #080810;
  --color-selected: #46c8fc;
  --color-interactive: #ff956b;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a:focus,
button:focus,
div:focus,
li:focus,
td:focus {
  outline: var(--color-white) solid 1px;
  outline-offset: 4px;
}

a {
  color: var(--color-interactive);
}

h1 {
  font-weight: 100;
}
