.logo-node {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--color-white);
  position: relative;
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
}

.logo-node:focus {
  outline: none;
}

.logo-node:focus::before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  border: 1px solid var(--color-white);
  border-radius: 100%;
}

.logo-node.selected {
  background-color: var(--color-selected);
}

.logo {
  position: relative;
  gap: 32px;
}
