.logo-node {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--color-white);
  position: relative;
}

.logo-node > .logo-node {
  opacity: 0.5;
  left: 64px;
  top: 8px;
}

.logo {
  position: relative;
}
